{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

<main>
    <div class="middle-splash">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}            
            <div class="form-child">
                <p>Sports Booking Made Simple</p>

                <div>
                    {{ form.non_field_errors }}

                    {{ form.source.errors }}
                    {{ form.source }}

                    {{ form.sports_tag }}
                    {{ form.location }}
                    {{ form.distance }}      
                    <button id="search-button" type="submit">Search 🔍︎</button>                              
                </div>
            </div>
        </form>
    </div>

    <div id="bottom">
        <div id="bottom-make">
            <img src="https://res.cloudinary.com/dcjvfcg2q/image/upload/v1653432751/arena-gc46fd1bd5_1920_zivpdv.jpg" />
            <button id="button-make">Make Booking</button>
        </div>

        <div id="bottom-explore">
            <img src="https://res.cloudinary.com/dcjvfcg2q/image/upload/v1653432708/olympic-swimming-pool-gd489f4c4a_1920_w0j8hi.jpg" />
            <button id="button-explore">Explore Facilities</button>
        </div>
    </div>

    <div id="very-bottom">
        <div class="container">
            {% for tag in tags %}
            <div>
                <div class="tag-img"><p class="description">{{tag.description}}</p></div>
                <span class="name">{{tag.shorthand}}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}