/* https://www.sliderrevolution.com/resources/html-calendar/ */

main{
    width:fit-content;
    margin: 0 auto;
}

th, td{
    width: 50px;
    height: 50px;    
}

td{
    text-align: center;
}

.calendar-clickable:hover{
    background-color: red;
    cursor: pointer;
}

.booked{
    background-color: grey;
}

#calendar{
    float:left;
}

#slot-holder{
    margin-left:10px;
}

.hidden {
    visibility: hidden;
    display: none;
}

.month{
    text-align: center;
}

@media only screen and (min-width: 600px) {
    #slot-holder{
        float:right;
    }    
}