html, body{
    height:100%;
    width:100%;
    background-color: white;
    overflow:hidden;
}

header{
    margin-top:10px;
    height:50px;
    margin-left: 25px;
    margin-right: 25px;
    border: 1px solid blue;
}

main{
    margin-top:10px;
}

ul li{
    list-style-type:  none;
    height:50px;
}

ul li span{
    display:inline-flex;
    height:100%;
    align-items: center;
}

.logo{
    float: left;
    text-align: center;
    width: 125px;
    font-size: 1.2rem;
}

.login{
    float:right;
    width:100px;
    text-align:center;
    /* margin-right: 50px; */
}

.register{
    float:right;
    width:100px;
    text-align:center;
    /* margin-right: 50px; */
}

.logo:hover, .login:hover, .register:hover{
    background-color: black;
    cursor: pointer;
    color:white;
}

.middle-splash{
    border: 1px solid blue; 
    height:375px;
    margin: 0 25px;
}

.about{
    margin-top:10px;
    text-align: center;
    margin: 10px 25px 0 25px;
    border: 1px solid blue; 
}

.about p{
    margin:10px;
}
.search-bar{
    height:100%;

}

.search-bar input{
    border: 1px solid black;
    width:50%;
    position: relative;
    left:25%;
    top:50%;
}