.middle-splash{
    border: 1px solid blue; 
    height:375px;
    margin: 0 25px;
}

.about{
    margin-top:10px;
    text-align: center;
    margin: 10px 25px 0 25px;
    border: 1px solid blue; 
}

.about p{
    margin:10px;
}
.search-bar{
    height:100%;
}

.search-bar input{
    border: 1px solid black;
    width:50%;
    position: relative;
    left:25%;
    top:50%;
}

.list{
    list-style-type: none;
    overflow: hidden;    
}

.list li{
    display:inline;
}