.create-parent{
    width:fit-content;
    margin: 0 auto;
}

table{
    width:75%;
    margin: 0 auto;
}

tr{
    margin-top:10px;
}

img{
    max-width: 250px;
}

@media only screen and (min-width: 992px) {
    table{
        width:25%;
    }
}