* {
    margin: 0;
    padding: 0;
    border: none;
}

html, body{
    height:100%;
    width:100%;
    background-color: white;
}

header{
    height:50px;
    margin-right: 50px;
    margin-left: 50px;
}

.header-list{
    list-style-type: none;
    overflow: hidden;    
}

.logo-parent{
    float: left;    
}

.list-link{
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;    
}

.list-link:hover{
    background-color: black;
    color: white;    
}

.list-right{
    float:right;
}
