{% extends "base.html" %}
{% load static %}

{% block head%}
<link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
{% endblock %}

{% block content%}
{% csrf_token %}

<main>
    <table class="table fifty-center">
        <tr class="table-dark">
            <th>Facility</th>
            <th>Post Code</th>
            <th>Address</th>
            <th>Date</th>
            <th>Start</th>
            <th>End</th>
            <th>Cancel</th>
        </tr>
    {% for b in bookings %}
    <tr>
        <td>{{ b.facility_id }}</td>
        <td>{{ b.facility_id.postcode }}</td>
        <td>{{ b.facility_id.address }}</td>
        <td>{{ b.date}}</td>
        <td>{{ b.time_slot.start|time:'H:i' }}</td>
        <td>{{ b.time_slot.end|time:'H:i' }}</td>
        <td><a onclick="reveal({{b.id}})" href="#" class="btn btn-danger">Cancel</a></td>
    </tr>
    {% endfor %}    
    </table>

    <div id="bookingModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <p>Are you sure you want to cancel this booking?</p>
                <button type="submit"class ="btn btn-danger">Yes, Cancel</button>
    
            </form>
        </div>
    </div>
</main>

<script src="{% static 'js/modal.js' %}"></script>
<script>
    function reveal(bookingId){
        modal.style.display = "block";
        $("#id_ID").val(bookingId);
    }
</script>
{% endblock %}