{% extends "base.html" %}
{% load static %}
{% load month_name %}
{% load ordinal_format %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/calender.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">

{% endblock %}

{% block content%}

<main>
    <div id="calendar">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th id="current-month-header" class="month" colspan="7">{{current_month.0|month_name}}</th>
                </tr>

                <tr>
                    <th id="next-month-header" class="month hidden" colspan="7">{{next_month.0|month_name}}</th>
                </tr>   

                <tr>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>                
            </thead>

            <tbody id="current-month-container">
                {% for cm in current_month|slice:"1:" %}
                <tr>
                    {% for row in cm %}
                        {% if row.0 == 0 %}
                            <td></td>
                        {% elif row.2|length == 0%}
                            <td class="">{{row.0}}</td>
                        {% else %}
                            <td class="calendar-clickable" onclick="revealSlots('month-{{current_month.0}}-day-{{row.0}}')">{{row.0}}</td>
                        {% endif %}
                        
                    {% endfor %}            
                </tr>    
                {% endfor %}
            </tbody>

            <tbody id="next-month-container" class="hidden">
                {% for nm in next_month|slice:"1:" %}
                <tr>
                    {% for row in nm %}
                        {% if row.0 == 0 %}
                            <td></td>
                        {% elif row.2|length == 0%}
                            <td class="">{{row.0}}</td>
                        {% else %}
                            <td id="month-{{next_month.0}}-day-{{row.0}}" class="calendar-clickable" onclick="revealSlots('month-{{next_month.0}}-day-{{row.0}}')">{{row.0}}</td>
                        {% endif %}
                        
                    {% endfor %}            
                </tr>    
                {% endfor %}
            </tbody>

        </table>
        <a class="btn btn-primary" onclick="swapCalendars()">See <span id="current-button" class="hidden">{{current_month.0|month_name}}</span><span id="next-button">{{next_month.0|month_name}}</span></a>
    </div>

    <div id="slot-holder">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Day</th>
                    <th>Start</th>
                    <th>End</th>
                    <th></th>
                </tr>                
            </thead>

            {% for cm in current_month|slice:"1:" %}
                {% for row in cm %}
                    {% if row.0 != 0 and row.2|length != 0 %}
                    <tr class="month-{{current_month.0}}-day-{{row.0}} hidden">
                        <td colspan="4">{{row.0|ordinal_format}} of {{current_month.0|month_name}}</td>
                    </tr>
                        {% for slot in row.2 %}
                            {% if slot.1 %}
                            <tr class="month-{{current_month.0}}-day-{{row.0}} booked hidden">
                                <td>{{row.0}}</td>
                                <td>{{slot.0.start|time:'H:i'}}</td>
                                <td>{{slot.0.end|time:'H:i'}}</td>
                            </tr>
                            {% else %}
                            <tr class="month-{{current_month.0}}-day-{{row.0}} hidden">
                                <td>{{row.0}}</td>
                                <td>{{slot.0.start|time:'H:i'}}</td>
                                <td>{{slot.0.end|time:'H:i'}}</td>
                                <td onclick="book({{row.0}}, {{current_month.0}}, {{slot.0.id}})">Book</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}       
            
            {% for nm in next_month|slice:"1:" %}
            {% for row in nm %}
                {% if row.0 != 0 and row.2|length != 0 %}
                    <tr class="month-{{next_month.0}}-day-{{row.0}} hidden">
                        <td colspan="4">{{row.0|ordinal_format}} of {{next_month.0|month_name}}</td>
                    </tr>
                    {% for slot in row.2 %}
                        {% if slot.1 %}
                        <tr class="month-{{next_month.0}}-day-{{row.0}} booked hidden">
                            <td>{{row.0}}</td>
                            <td>{{slot.0.start|time:'H:i'}}</td>
                            <td>{{slot.0.end|time:'H:i'}}</td>
                        </tr>
                        {% else %}
                        <tr class="month-{{next_month.0}}-day-{{row.0}} hidden">
                            <td>{{row.0}}</td>
                            <td>{{slot.0.start|time:'H:i'}}</td>
                            <td>{{slot.0.end|time:'H:i'}}</td>
                            <td onclick="book({{row.0}}, {{next_month.0}}, {{slot.0.id}})">Book</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}  
        </table>

    </div>    

    <div id="bookingModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <p>Are you sure you want to make this booking?</p>
                <button type="submit">Make Booking</button>
              </form>
        </div>
    </div>
</main>

<script src="{% static 'js/modal.js' %}"></script>
<script>
    let current_month_revealed = true;
    let currently_revealed = null;
    function revealSlots(revealTarget){
        $("."+currently_revealed).addClass("hidden");
        $("."+revealTarget).removeClass("hidden");
        currently_revealed = revealTarget;
    }

    function book(day, month, slotId){
        modal.style.display = "block";
        $("#id_timeslot").val(slotId);
        $("#id_date").val(new Date().getFullYear()+"-"+month + "-" + day);
    }

    function swapCalendars(){
        current_month_revealed = !current_month_revealed;
        if(current_month_revealed){
            $("#current-month-container").removeClass("hidden");
            $("#current-month-header").removeClass("hidden");
            $("#next-month-container").addClass("hidden");
            $("#next-month-header").addClass("hidden");
            $("#current-button").addClass("hidden");
            $("#next-button").removeClass("hidden");
        }
        else{
            $("#current-month-container").addClass("hidden");
            $("#current-month-header").addClass("hidden");
            $("#next-month-container").removeClass("hidden");
            $("#next-month-header").removeClass("hidden");

            $("#current-button").removeClass("hidden");
            $("#next-button").addClass("hidden");            
        }

    }
</script>
{% endblock %}

