{% extends "base.html" %}
{% load static %}
{% block content%}

<table>
    <tr>
        <th>Facility ID</th>
        <th>Time Slot ID</th>
        <th>Booking ID</th>
        <th>Facility</th>
        <th>Time Slot User</th>
        <th>User ID</th>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
    </tr>
{% for b in bookings %}
<tr>
    <td>{{ b.facility_id.id }}</td>
    <td>{{ b.time_slot.id }}</td>
    <td>{{ b.id }}</td>
    <td>{{ b.facility_id }}</td>
    <td>{{ b.user_id }}</td>
    <td>{{ b.user_id.id }}</td>
    <td>{{ b.date}}</td>
    <td>{{ b.time_slot.start|time:'H:i' }}</td>
    <td>{{ b.time_slot.end|time:'H:i' }}</td>
</tr>
{% endfor %}    
</table>

{% endblock %}