{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list_facility.css' %}">
<main>
    <table>
        <tr>
            <th>Admin</th>
            <th>Name</th>
            <th>Postcode</th>
            <th>Address</th>
            <th>Indoor</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Tags</th>
            <th>Image</th>
            <th>Modify Facility</th>
            <th>Modify Tags</th>
            <th>Modify Slots</th>
        </tr>

        {% for d in data %}
            <tr>
                <td>{{d.0.admin}}</td>
                <td>{{d.0.name}}</td>
                <td>{{d.0.postcode}}</td>
                <td>{{d.0.address}}</td>
                <td>{{d.0.indoor}}</td>
                <td>{{d.0.contact_email}}</td>
                <td>{{d.0.contact_phone}}</td>
                <td>
                    {% for t in d.1 %}
                    <span>{{t.tag_id}}</span>
                    {% endfor %}
                </td>
                <td><img src="{{d.0.image}}" /></td>
                <td><a href="modify/{{d.0.id}}">Modify</a></td>
                <td><a href="tags/modify/{{d.0.id}}">Modify</a></td>
                <td><a href="times/modify/{{d.0.id}}">Modify</a></td>
            </tr>
        {% endfor %}
    </table>    

    <div class="create-parent">
        <a href="create">Create New</a>        
    </div>
</main>

{% endblock %}