{% extends "base.html" %}
{% load static %}

{% block content %}
{% csrf_token %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list_facility.css' %}">
<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"></script>

<main>
    <div class="table-responsive">
        <table class="table fifty-center">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Admin</th>
                    <th scope="col">Name</th>
                    <th scope="col">Postcode</th>
                    <th scope="col">Address</th>
                    <th scope="col">Indoor</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Tags</th>
                    <th scope="col">Image</th>
                    <th scope="col">Modify Facility</th>
                    <th scope="col">Modify Tags</th>
                    <th scope="col">Modify Slots</th>
                    <th scope="col">View Bookings</th>
                    <th scope="col">Delete Facility</th>
                </tr>            
            </thead>

            <tbody>
                {% for d in data %}
                    <tr>
                        <td>{{d.0.admin}}</td>
                        <td>{{d.0.name}}</td>
                        <td>{{d.0.postcode}}</td>
                        <td>{{d.0.address}}</td>
                        <td>{{d.0.indoor}}</td>
                        <td>{{d.0.contact_email}}</td>
                        <td>{{d.0.contact_phone}}</td>
                        <td>
                            {% for t in d.1 %}
                            <span>{{t.tag_id}}</span>
                            {% endfor %}
                        </td>
                        <td><img src="{{d.0.image}}" /></td>
                        <td><a href="{% url 'modify_facility' d.0.id %}" role="button" class="btn btn-success">Modify</a></td>
                        <td><a href="{% url 'modify_facility_tags' d.0.id %}" role="button" class="btn btn-success">Modify</a></td>
                        <td><a href="{% url 'modify_slots' d.0.id %}" role="button" class="btn btn-success">Modify</a></td>
                        <td><a href="{% url 'list_facility_bookings' d.0.id%}" role="button" class="btn btn-primary">View</a></td>
                        <td><a href="#" role="button" class="btn btn-danger" onclick="deleteFacility({{d.0.id}})">Delete</a></td>
                    </tr>
                {% endfor %}            
            </tbody>
        </table>    
    </div>


    <div class="create-parent">
        <a href="create">Create New</a>        
    </div>
</main>
<script>
    function deleteFacility(facilityId){
        $.ajax({
            type: "POST",
            url: "/facility/",
            data:{ Data:facilityId },
            headers:{
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            },
            complete: window.location.replace("/")
        }); 
    }
</script>
{% endblock %}