{% extends "base.html" %}
{% load static %}

{% block content %}
{% csrf_token %}
<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/list_tags.css' %}">
<main>
    <table class="table fifty-center">
        <tr class="table-dark">
            <th scope="col">ID</th>
            <th scope="col">First</th>
            <th scope="col">Second</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>

    {% for tag in fac_tags %}
        <tr>
            <td>{{tag.id}}</td>
            <td>{{tag.shorthand}}</td>
            <td>{{tag.description}}</td>
            <td><a href="{{tag.id}}" class="btn btn-success">Edit</a></td>
            <td><a onclick="deleteTag({{tag.id}})" href="#" class="btn btn-danger">Delete</a></td>
        </tr>
    {% endfor %}
    </table>

    <div class="create-parent">
        <a href="create">Create New</a>        
    </div>

</main>
<script>
    function deleteTag(tagId){
        $.ajax({
            type: "POST",
            url: "/tags/",
            data:{ Data:tagId },
            headers:{
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            },
            complete: window.location.replace("/")
        }); 
    }
</script>
{% endblock %}