{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list_tags.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
{% endblock %}

{% block content %}
{% csrf_token %}



<main>
    <table class="table fifty-center">
        <tr class="table-dark">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>

    {% for tag in fac_tags %}
        <tr>
            <td>{{tag.id}}</td>
            <td>{{tag.shorthand}}</td>
            <td>{{tag.description}}</td>
            <td><img src="{{tag.image}}" alt="{{tag.shorthand}}"></td>
            <td><a href="{{tag.id}}" class="btn btn-success">Edit</a></td>
            <td><button onclick="reveal({{tag.id}})" class="btn btn-danger">Delete</button></td>
        </tr>
    {% endfor %}
    </table>

    <div class="create-parent">
        <a href="create" class="btn btn-success">Create New</a>        
    </div>

    <div id="bookingModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <p>Are you sure you want to delete this tag?</p>
                <button type="submit" class="btn btn-danger">Delete tag</button>
              </form>
        </div>
    </div>

</main>
<script src="{% static 'js/modal.js' %}"></script>
<script>
    function reveal(id){
        modal.style.display = "block";
        $("#id_ID").val(id);
    }
</script>
{% endblock %}