{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/modify_facility_tags.css' %}">
{% endblock %}

{% block content %}
{% csrf_token %}


<main>
    <table id="facility-table" class="table fifty-center">
        <thead class="table-dark">
            <tr>
                <th>Facility ID</th>
                <th>Tag ID</th>
                <th>Remove</th>
            </tr>        
        </thead>

        {% for facil_tag in data %}
            <tr id="row-{{facil_tag.id}}">
                <td>{{facil_tag.facility_id}}</td>
                <td id="{{facil_tag.tag_id.id}}">{{facil_tag.tag_id}}</td>
                <td><button class="btn btn-danger" onclick="removeTag('row-{{facil_tag.id}}')">Remove</button></td>
            </tr>
        {% endfor %}
    </table>
    <hr>
    <div class="fifty-center">
        <select id="tag-select" class="form-select">
            {% for tag in tags %}
                <option value="{{tag.id}}">{{tag.shorthand}}</option>
            {% endfor %}
        </select>

        <button id="add" onclick="addTag()" class="btn btn-success">Add Tag</button>
        <button onclick="submit()" class="btn btn-success">Submit Changes</button>
    </div>    
</main>



<script>
    let name = "{{info_tup.1}}";
    let num = 9999;    

    function submit(){
        tableData = "";
        table_rows = $("tr");

        for (let i = 1; i < table_rows.length; i++) {
            tableData = tableData + $("#"+table_rows[i].id +" td")[1].id + ",";
        } 
        tableData = tableData.substring(0, tableData.length - 1);

        $.ajax({
            type: "POST",
            url: "/facility/tags/modify/{{info_tup.0}}",
            data:{ Data:tableData },
            headers:{
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            },
            complete: window.location.replace("/facility/")
        });
    }

    function removeTag(id){
        $('#'+id).remove();
    }

    function addTag(){
        $('#facility-table tr:last').after(
            ['<tr class="add" id="new-'+num+'">',
              '<td>', name , '</td>',
              '<td id="' + $('#tag-select').val()+ '">', $("#tag-select option:selected").text() ,'</td>',
              '<td><button class="btn btn-danger" onclick="removeTag(', "'new-"+num+ "')" +'"' + ">Remove</button></td>" ,
              '</tr>'].join(' ')
        );
        num = num + 1;
    }
</script>

{% endblock %}

