{% extends "base.html" %}

{% block content %}
<table>
    <tr id="time-row">
        <td></td>
        {% for slot in table_data %}
            <td>{{slot.0}}</td>
        {% endfor %}
    </tr>

    <tr id="monday-row">
        <td>Monday</td>
        {% for slot in table_data %}
            <td>{{slot.1}}</td>
        {% endfor %}
    </tr>

    <tr id="tuesday-row">
        <td>Tuesday</td>
        {% for slot in table_data %}
            <td>{{slot.2}}</td>
        {% endfor %}
    </tr>

    <tr id="wednesday-row">
        <td>Wednesday</td>
        {% for slot in table_data %}
            <td>{{slot.3}}</td>
        {% endfor %}
    </tr>

    <tr id="thursday-row">
        <td>Thursday</td>
        {% for slot in table_data %}
            <td>{{slot.4}}</td>
        {% endfor %}
    </tr>

    <tr id="friday-row">
        <td>Friday</td>
        {% for slot in table_data %}
            <td>{{slot.5}}</td>
        {% endfor %}
    </tr>

    <tr id="saturday-row">
        <td>Saturday</td>
        {% for slot in table_data %}
            <td>{{slot.6}}</td>
        {% endfor %}
    </tr>

    <tr id="sunday-row">
        <td>Sunday</td>
        {% for slot in table_data %}
            <td>{{slot.7}}</td>
        {% endfor %}
    </tr>
</table>

{% endblock %}
