{% extends "base.html" %}
{% load static %}

{% block content %}
{% csrf_token %}
<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/modify_timeslots.css' %}">

<main>
    <table id="slot-table">
        <tr>
            <th>id</th>
            <th>start</th>
            <th>end</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
            <th>Remove</th>
        </tr>
    
        {% for slot in data %}
            <tr id="slot-{{slot.id}}">
                <td>{{slot.id}}</td>
                <td><input type="time" value="{{slot.start|time:'H:i'}}" autocomplete="off" /></td>
                <td><input type="time" value="{{slot.end|time:'H:i'}}" autocomplete="off" /></td>
                <td><input type="checkbox" {% if slot.monday %} checked {% endif %} /></td>
                <td><input type="checkbox" {% if slot.tuesday %} checked {% endif %} /></td>
                <td><input type="checkbox" {% if slot.wednesday %} checked {% endif %} /></td>
                <td><input type="checkbox" {% if slot.thursday %} checked {% endif %} /></td>
                <td><input type="checkbox" {% if slot.friday %} checked {% endif %} /></td>
                <td><input type="checkbox" {% if slot.saturday %} checked {% endif %} /></td>
                <td><input type="checkbox" {% if slot.sunday %} checked {% endif %} /></td>
                <td><button onclick="removeTimeSlot('slot-{{slot.id}}')">Remove</button></td>
            </tr>
        {% endfor %}
    </table>

    <button onclick="addTimeSlot()">Add New</button>
    <button onclick="submit()">Save</button>
</main>

<script>
    let id = {% if data %}{% with data|last as last %}{{last.id}}{% endwith %}{% else %}0{% endif %} + 1;
    let final_id = {% if data %}{% with data|last as last %}{{last.id}}{% endwith %}{% else %}0{% endif %};

    function addTimeSlot(){
        $('#slot-table tr:last').after(
            [
                '<tr id="slot-'+id+'">',
                '<td>New</td>',
                '<td><input type="time" autocomplete="off" /></td>',
                '<td><input type="time" autocomplete="off" /></td>',
                '<td><input type="checkbox" {% if slot.monday %} checked {% endif %} /></td>',
                '<td><input type="checkbox" {% if slot.tuesday %} checked {% endif %} /></td>',
                '<td><input type="checkbox" /></td>',
                '<td><input type="checkbox" /></td>',
                '<td><input type="checkbox" /></td>',
                '<td><input type="checkbox" /></td>',
                '<td><input type="checkbox" /></td>',
                '<td><button onclick="removeTimeSlot(', "'slot-"+id+ "')" +'"' + ">Remove</button></td>"
            ].join('')
        )
        id += 1;
    }

    function removeTimeSlot(id){
        $("#"+id).remove();
    }

    function submit(){
        tableData = "";
        table_rows = $("tr");

        for (let i = 1; i < table_rows.length; i++){


            // if id is greater than the largest id from the original list
            if(table_rows[i].id.split("-")[1] > final_id){
                let row = $("#"+table_rows[i].id+" td");
                tableData = tableData + [
                    "[",
                    "new,",
                    row[1].firstChild.value+",",
                    row[2].firstChild.value+",",
                    row[3].firstChild.checked+",",
                    row[4].firstChild.checked+",",
                    row[5].firstChild.checked+",",
                    row[6].firstChild.checked+",",
                    row[7].firstChild.checked+",",
                    row[8].firstChild.checked+",",
                    row[9].firstChild.checked+"",
                    "]",
                    "|"
                ].join('');
            }
            else{
                let row = $("#"+table_rows[i].id+" td");
                tableData += [
                    "[",
                    row[0].parentElement.id.split('-')[1]+",",
                    row[1].firstChild.value+",",
                    row[2].firstChild.value+",",
                    row[3].firstChild.checked+",",
                    row[4].firstChild.checked+",",
                    row[5].firstChild.checked+",",
                    row[6].firstChild.checked+",",
                    row[7].firstChild.checked+",",
                    row[8].firstChild.checked+",",
                    row[9].firstChild.checked+"",
                    "]",
                    "|"
                ].join('');
            }
        }
        tableData = tableData.substring(0, tableData.length - 1);

        $.ajax({
            type: "POST",
            url: "/facility/times/modify/{{facil_id}}",
            data:{ Data:tableData },
            headers:{
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            },
            complete: window.location.replace("/")
        });
    }
</script>
{% endblock %}